<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Github Data</title>
	<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> -->
	<style type="text/css">
	body {background-color:white; font-family:"Helvetica Neue", Helvetica, sans-serif; line-height:1.3em; font-size: 0.9em; width: 90%; margin:0em auto;}
	ul {list-style-type: square;}
	li {padding-bottom:0.3em;}
	table {border-collapse:collapse;}
	tbody > tr:nth-child(odd) {background-color:#F6D6CB;}
	th {font-size:0.75em;}
	th:first-child { text-align:left; padding-left:1em;}
	td {width:3em; text-align:right; padding-right: 1em;}
	td:first-child {width:10em; text-align:left; padding-left:1em;}
	a { text-decoration:none; }
	</style>
</head>
<body>
<h2>Repos for <%= @repos.first['owner']['login'] %></h2>
<p>Number of repos: <%= @repos.size %></p>
<!-- <div><%= @repos %></div> -->
<!-- 
<ul>
	<li>Illum Dolore</li>
	<li>Eu Feugiat Nulla</li>
	<li>Facilisis At Vero Eros</li>
	<li>Accumsan Formas Humanitatis</li>
	<li>Per Seacula Quarta Decima</li>
	<li>Quinta Decima Eodem Modo</li>
</ul>
 -->
 <table cellpadding="2" cellspacing="0" border="0">
	 <thead style="font-weight: bold">
		 <tr>
		 <th>Repo</th>
		 <th>Size</th>
		 <th>Watchers</th>
		 <th>Forks</th>
		 <th>Issue</th>
		 </tr>
	 </thead>
	 <tbody>
		 <% @repos.each do |repo| %>
			<tr>
				<td><a href="<%= repo['html_url'] %>" target="_blank"><%= repo['name'] %></td>
				<td><%= repo['size'] %></td>
				<td><%= repo['watchers_count'] %></td>
				<td><%= repo['nameforks_count'] %></td>
				<td><%= repo['open_issues_count'] %></td>
			</tr>
			<% end %>

	 </tr>
	 </tbody>
 </table>
</body>
</html>